<div class="page-head">

  <div class="row">

    <div class="col-md-12">
      <h2>Create Customer</h2>
    </div>


  </div>
</div>


<div class="inner-content">

  <div class="">
    <div class="col-md-12">
      <div class="row">
        <form [formGroup]="customerForm" novalidate (submit)="saveCustomer()">
          <div class="form-horizontal form-wrap m-b-15">
            <div class="form-group">
              <label class="col-lg-2 control-label">First Name
                <span class="req">*</span>
              </label>
              <div class="col-lg-6">
                <input class="form-control" type="text" formControlName="firstName" />
                <span *ngIf="(customerForm.get('firstName').dirty||customerForm.get('firstName').touched && customerForm.get('firstName').errors)"
                  class="req">
                  <span *ngIf="customerForm.get('firstName').errors && customerForm.get('firstName').errors.required">
                    first name is required
                  </span>
                  <span *ngIf="customerForm.controls.firstName.errors && customerForm.controls.firstName.errors.minlength">
                    name shoud be longer than 3 characters
                  </span>
                </span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Last Name </label>
              <div class="col-lg-6">
                <input class="form-control" type="text" formControlName="lastName" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Address</label>
              <div class="col-lg-6">
                <input class="form-control" type="text" formControlName="address" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Mobile No</label>
              <div class="col-lg-6">
                <input class="form-control" type="text" formControlName="mobileNo" />
                
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label">Email
                <span class="req">*</span>
              </label>
              <div class="col-lg-6">
                <input class="form-control" type="text" formControlName="email" />

                <span *ngIf="(customerForm.get('email').dirty||customerForm.controls.email.touched && customerForm.controls.email.errors)">
                  <span *ngIf="customerForm.controls.email.errors && customerForm.controls.email.errors.required" class="req">
                    email is required
                  </span>
                  <span *ngIf="customerForm.controls.email.errors && customerForm.controls.email.errors.pattern" class="req">
                    email is in wrong format
                  </span>
                </span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-lg-2 control-label"></label>
              <div class="col-lg-6">
                <button type="submit" class="btn btn-primary" [disabled]="!customerForm.valid">Save</button>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>