<div class="page-head">
  <div class="row">
    <div class="col-md-4">
      <h2>Customers</h2>
      <ol class="breadcrumb">

        <li>
          <a>Customer</a>
        </li>

        <li class="active">
          <a>Details</a>
        </li>

      </ol>
    </div>
    <div class="col-md-8">
      <div class="top-btn-wrap">
        <a class="btn btn-primary" [routerLink]="['/customer/createCustomer']">NEW CUSTOMER</a>
      </div>
    </div>
  </div>
</div>

<div class="inner-content">

  <div class="row">
    <div class="col-md-12">
      <div class="form-fix form-wrap m-b-15">
        <div class="col-md-12">
          <div class="form-inline">

            <div class="form-group pull-right">
              <input type="text" [(ngModel)]="searchText" class="form-control search right-search" placeholder="Search">
              <button class="btn btn-primary">GO</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-wrap">
        <div class="table-wrapper table-responsive" id="no-more-tables">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Mobile No</th>
                <th>Email</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let customer of customers">
                <td>{{customer.firstName}} {{customer.lastName}}</td>
                <td>{{customer.mobileNo}}</td>
                <td>{{customer.email}}</td>
                <td> <button type="button" (click)="editCustomer(customer.id)" class="btn btn-primary btn-xs">EDIT</button>
                  <button type="button" (click)="deleteCustomer(customer.id)" class="btn btn-danger btn-xs">DELETE</button></td>
              </tr>

            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>


</div>