<div class="left-side-bar">
	<div class="content">
		<div class="am-logo"></div>
		<ul class="sidebar-elements">


			<li class="parent">
				<a [routerLink]="['/orders']" [routerLinkActive]="['active']"><i class="fa fa-truck" aria-hidden="true"></i><span>Orders</span></a>

			</li>
			<li class="parent">
				<a [routerLink]="['/customer']" [routerLinkActive]="['active']"><i class="fa fa-truck" aria-hidden="true"></i><span>Customers</span></a>

			</li>
			<li class="parent">
				<a [routerLink]="['/product']" [routerLinkActive]="['active']"><i class="fa fa-truck" aria-hidden="true"></i><span>Products</span></a>

			</li>
		


		</ul>
		<!--Sidebar bottom content-->
	</div>